* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("../multimedia/backgroundCharacter.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Defino la paleta de colores*/
  --color1: #ffe4f2;
  --color2: #e54ed0;
  --color3: #9f45b0;
  --color4: #44008b;
  --color5: #00076f;
}

#title {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 15%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  font-size: 200%;
  background-color: var(--color3);
  text-align: center;
}

#gallery {
  width: 80%;
  position: absolute;
  top: 25%;
  left: 10%;
  display: grid;
  background: var(--color4);
  grid-template-columns: repeat(5,20%);
}

#gallery img {
  margin-top: 5%;
  width: auto;
  height: 15vh;
}
#gallery img:hover{
  cursor: pointer;
  border-style: dotted;
}