* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("../multimedia/backgroundCharacter.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Defino la paleta de colores*/
  --color1: #ffe4f2;
  --color2: #e54ed0;
  --color3: #9f45b0;
  --color4: #44008b;
  --color5: #00076f;
}

#title {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 10%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  font-size: 200%;
  background-color: var(--color3);
  text-align: center;
}

.gallery {
  width: 80%;
  position: absolute;
  top: 25%;
  left: 10%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  gap: 2%;
}

.player {
  width: 60%;
  height: auto;
  cursor: pointer;
}

.player:hover {
  transform: scale(1.2);
  background-color: var(--color4);
}
.player_selected {
  width: 60%;
  height: auto;
  cursor: pointer;
  border: solid;
  border-style: dashed;
  border-color: var(--color1);
}
#btn_play,
#btn_exit {
  width: 20%;
  height: 10%;
  position: absolute;
  top: 85%;
  left: 25%;
  background-color: var(--color4);
  color: var(--color1);
  font-size: 200%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  border-style: solid;
  border-color: var(--color2);
}

#btn_exit {
  left: 55%;
}

#btn_play:hover,
#btn_exit:hover {
  background-color: var(--color1);
  color: var(--color4);
}
