* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("../multimedia/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: FLEX;
  justify-content: center;
  align-items: center;
  /*Defino la paleta de colores*/
  --color1: #ffe4f2;
  --color2: #e54ed0;
  --color3: #9f45b0;
  --color4: #44008b;
  --color5: #00076f;
}

.footer {
  position: sticky;
  top: 100%;
  left: 20%;
  background: var(--color3);
  background-size: auto;
  color: var(--colorText);
  text-align: center;
  font-size: 200%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  animation-name: animationCredits;
  animation-duration: 20s;
}

#btn_start {
  width: 20%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 40%;
  background: var(--color4);
  color: var(--color1);
  font-size: 200%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  border-style: solid;
  border-color: var(--color2);
}

#btn_start:hover {
  background: var(--color1);
  color: var(--color4);
}

input::placeholder {
  color: var(--color4);
  text-align: center;
  font-size: 200%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
}

#input_name {
  width: 30%;
  min-height: 5%;
  position: absolute;
  top: 40%;
  left: 35%;
  background: #ffe4f2;
  border-color: var(--color5);
  border-style: solid;
}

#input_name:hover {
  border-style: dashed;
}

@keyframes animationCredits {
  0% {
    background: var(--color4);
  }

  25% {
    background: var(--color3);
  }

  50% {
    background: var(--color2);
  }

  100% {
    background: var(--color1);
  }
}