* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("../multimedia/backgroundCharacter.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Defino la paleta de colores*/
  --color1: #ffe4f2;
  --color2: #e54ed0;
  --color3: #9f45b0;
  --color4: #44008b;
  --color5: #00076f;
}

#title {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 15%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  font-size: 200%;
  background-color: var(--color3);
  text-align: center;
}

.gallery {
  width: 80%;
  position: absolute;
  top: 25%;
  left: 10%;
  display: grid;
  background-color: var(--color4);
  grid-template-columns: repeat(5, 20%);
  border-style: none;
}

.gallery img {
  margin-top: 5%;
  width: auto;
  height: 15vh;
}

.-colorgallery img:hover {
  cursor: pointer;
  border-style: dotted;
}

#players {
  display: none;
}

.player_selected{
  border-style: dotted;
}

#btn_start,
#btn_exit {
  width: 20%;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 25%;
  background-color: var(--color4);
  color: var(--color1);
  font-size: 200%;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  border-style: solid;
  border-color: var(--color2);
}

#btn_exit {
  left: 55%;
}

#btn_start:hover {
  background-color: var(--color1);
  color: var(--color4);
}